<ion-content class="welcome-content">

  <div class="welcome-wrapper">

    <div class="welcome-card">

      <div class="logo-circle">
        <ion-icon name="game-controller"></ion-icon>
      </div>

      <h1>Bienvenido</h1>

      <p>
        Estamos probando una app de videojuegos desarrollada en Ionic.
        ¿Te gustaría crear una cuenta y probarla?
      </p>

      <ion-button expand="block" class="btn-main" (click)="siguiente()">

        Siguiente

      </ion-button>

    </div>

  </div>

</ion-content>