<ion-app>

  @if (mostrarMenu) {
    <ion-split-pane contentId="main-content" when="lg">
      
      <ion-menu contentId="main-content" type="overlay" class="custom-menu">
        <ion-content class="menu-content">

          <div class="menu-header">
            <div class="logo-circle">
              <ion-icon name="game-controller"></ion-icon>
            </div>
            <h2 class="menu-title">Game Survey Campus</h2>
            <p class="menu-subtitle">Panel de Encuestas</p>
          </div>

          <ion-list class="menu-list">
            @for (p of appPages; track p) {
              <ion-menu-toggle auto-hide="false">
                <ion-item
                  class="menu-item"
                  routerDirection="root"
                  [routerLink]="p.url" lines="none"
                  detail="false"
                  routerLinkActive="selected">
                  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            }

            <ion-menu-toggle auto-hide="false">
              <ion-item class="menu-item logout-item" lines="none" detail="false" (click)="cerrarSesion()" style="cursor: pointer;">
                <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
                <ion-label>Cerrar Sesión</ion-label>
              </ion-item>
            </ion-menu-toggle>

          </ion-list>
        </ion-content>
      </ion-menu>

      <ion-router-outlet id="main-content"></ion-router-outlet>

    </ion-split-pane>
  } @else {
    <ion-router-outlet></ion-router-outlet>
  }

</ion-app>