
.main-toolbar {
  --background: #7c3aed;
  --border-color: transparent;
}

.main-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 1.15rem;
  color: #ffffff;
  letter-spacing: 0.01em;
}

// Contenedor principal de la página

ion-content {
  --background: #f9f9fb; // Un fondo gris claro muy sutil para que contrasten las tarjetas
}

// Estilos personalizados para la barra de búsqueda
ion-searchbar {
  --background: #ffffff;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); // Sombra suave para darle profundidad
  --border-radius: 12px;
  margin-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

// Contenedor de la lista de canciones
ion-list {
  background: transparent !important; // Quitamos el fondo blanco por defecto de la lista
  padding: 0;
}

// Estilo para cada fila/ítem de canción
ion-item {
  --background: #ffffff;
  --border-radius: 16px; // Bordes redondeados modernos para cada canción
  --padding-start: 12px;
  --padding-end: 12px;
  --inner-padding-end: 8px;
  margin-bottom: 12px; // Separación elegante entre tarjetas
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04); // Efecto flotante limpio
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  // Efecto visual cuando el usuario presiona la tarjeta en el teléfono
  &:active {
    transform: scale(0.98);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.02);
  }
}

// Estilizado de la portada del disco (Avatar)
ion-avatar {
  width: 56px !important;  // La hacemos un poquito más grande para que se aprecie el arte del álbum
  height: 56px !important;
  border-radius: 12px;    // Bordes semi-redondeados en lugar de un círculo perfecto (estilo Apple Music)
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  margin-right: 12px;

  img {
    object-fit: cover; // Evita que la imagen de la API se deforme
  }
}

// Textos dentro de la tarjeta
ion-label {
  h2 {
    font-size: 1.1rem !important;
    color: #1c1c1e; // Color oscuro elegante para el título de la canción
    font-weight: 600 !important;
    margin-bottom: 4px;
  }

  p {
    font-size: 0.9rem !important;
    color: #8e8e93; // Gris suave para el artista y el álbum
    margin-bottom: 2px;
  }
}

// Botón de reproducción del preview
ion-button {
  --color: var(--ion-color-primary); // Usa el color principal de tu tema
  font-size: 1.2rem;
  
  ion-icon {
    font-weight: bold;
  }
}

// Contenedor del Spinner de carga y mensajes vacíos
.ion-text-center {
  margin-top: 40px;
  
  p {
    color: #8e8e93;
    font-size: 1rem;
    margin-top: 10px;
  }
}